*{

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0d0d0d;

    min-height:100vh;

    color:white;

    overflow-x:hidden;

    animation:pageLoad 1.5s ease;
}

/* PAGE LOAD */

@keyframes pageLoad{

    from{

        opacity:0;

        transform:translateY(40px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

/* HEADER */

header{

    width:100%;

    padding:25px 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LOGO */

.logo{

    font-size:42px;

    color:#ffc107;

    font-family: "Tiro Devanagari Marathi", serif;

    font-weight:bold;
}

/* NAVBAR */

nav ul{

    display:flex;

    gap:40px;

    list-style:none;
}

nav ul li a{

    text-decoration:none;

    color:white;

    font-weight:bold;

    transition:0.3s;
}

nav ul li a:hover{

    color:#ffc107;
}

/* HERO */

.hero{

    width:100%;

    min-height:90vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:30px 8%;
}

/* SLIDER */

.slider{

    position:relative;

    width:100%;

    max-width:650px;

    height:500px;

    margin-bottom:40px;
}

/* SLIDE IMAGE */

.slide{

    position:absolute;

    width:100%;
    height:100%;

    object-fit:contain;

    opacity:0;

    transition:1s;
}

/* ACTIVE IMAGE */

.slide.active{

    opacity:1;

    animation:floatImage 4s ease-in-out infinite;
}

/* FLOAT EFFECT */

@keyframes floatImage{

    0%{

        transform:
        translateY(0px);
    }

    50%{

        transform:
        translateY(-15px);
    }

    100%{

        transform:
        translateY(0px);
    }
}

/* TEXT */

.left{

    animation:textUp 1.5s ease;
}

.left h1{

    font-size:90px;

    line-height:100px;

    font-weight:900;

    text-transform:uppercase;
}

.left p{

    margin-top:30px;

    width:100%;

    max-width:800px;

    color:#d4d4d4;

    font-size:18px;

    line-height:32px;
}

/* BUTTON */

.left button{

    margin-top:40px;

    padding:18px 40px;

    border:none;

    border-radius:6px;

    background:#ffc107;

    color:black;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.left button:hover{

    transform:scale(1.05);

    background:#ffca2c;
}

/* TEXT ANIMATION */

@keyframes textUp{

    from{

        opacity:0;

        transform:translateY(80px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}

/* TABLET */

@media(max-width:992px){

    header{

        flex-direction:column;

        gap:20px;
    }

    nav ul{

        gap:20px;

        flex-wrap:wrap;

        justify-content:center;
    }

    .slider{

        height:400px;
    }

    .left h1{

        font-size:65px;

        line-height:75px;
    }
}

/* MOBILE */

@media(max-width:768px){

    .logo{

        font-size:30px;
    }

    nav ul{

        gap:15px;
    }

    nav ul li a{

        font-size:14px;
    }

    .slider{

        height:300px;

        margin-bottom:20px;
    }

    .left h1{

        font-size:42px;

        line-height:50px;
    }

    .left p{

        font-size:15px;

        line-height:28px;
    }

    .left button{

        padding:15px 30px;

        font-size:16px;
    }
}
